@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 90vh;
    min-width: 90%;
    color: white;
    font-family: "Roboto";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/rect%3e%3cpath d='M16.36 270C16.36 240.91 1.87 240.84 0 210C-6.31 105.84 -41.09 63.91 0 0C26.41 -41.09 69.65 -12.04 135 0C204.65 12.83 201.4 28.22 270 49.74C403.9 91.75 418.27 64.48 540 127.06C632.51 174.61 619.24 198.53 698.48 270C754.24 320.29 751.24 370.59 810 370.59C878.25 370.59 935.92 341.77 952.5 270C978.73 156.47 857.4 80.92 895.61 0C921.15 -54.08 987.81 0 1080 0C1179.47 0 1245.59 -56.9 1278.95 0C1324.73 78.1 1264.69 136.2 1238.28 270C1211.4 406.2 1141.01 429.14 1172.37 540C1196.87 626.64 1250.81 646.11 1350 665C1474.63 688.74 1509.37 672.49 1620 625.26C1655.78 609.99 1642.82 580.71 1642.82 540C1642.82 521.21 1633.29 521.66 1620 506.25C1516.88 386.66 1458.4 406.13 1410 270C1368.4 153 1376.85 81.2 1440 0C1481.85 -53.8 1530 0 1620 0C1755 0 1755 0 1890 0C2010.2 0 2023.37 -21.96 2130.41 0C2158.37 5.73 2156.65 24.82 2160 55.38C2171.45 159.82 2160 162.69 2160 270C2160 405 2160 405 2160 540C2160 675 2160 675 2160 810C2160 945 2208 993 2160 1080C2133.52 1128 2080.65 1098.1 2011.03 1080C1945.65 1063 1949.02 1009.8 1890 1009.8C1838.36 1009.8 1846.28 1065.29 1789.71 1080C1711.28 1100.39 1704.86 1080 1620 1080C1485 1080 1485 1080 1350 1080C1215 1080 1215 1080 1080 1080C945 1080 945 1080 810 1080C675 1080 675 1080 540 1080C405 1080 405 1080 270 1080C135 1080 70.31 1144.69 0 1080C-64.69 1020.49 -12.42 949.64 0 831.6C1.79 814.64 28.42 823.28 28.42 810C28.42 790.59 2.66 791.53 0 766.22C-11.55 656.53 0 653.11 0 540C0 420.43 -7.14 418.66 0 300.86C1.04 283.66 16.36 286.34 16.36 270' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M540 722.65C486.22 733.22 458.63 766.02 458.63 810C458.63 854.7 485.68 889.8 540 900C661.36 922.8 690.37 911.26 810 876C843.05 866.26 845.36 843.17 845.36 810C845.36 775.63 844.02 750.66 810 740.93C691.34 706.99 661.91 698.69 540 722.65' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M118.64 270C178.29 191.53 184.9 140.69 270 138.55C395.58 135.39 406.28 197.02 540 259.41C547.15 262.74 545.87 264.71 551.74 270C680.87 386.47 672.96 399.51 810 502.94C851.83 534.51 859.19 523.04 909.47 540C994.19 568.57 1003.12 550.37 1080 594C1223.39 675.37 1210.65 700.82 1350 790C1379.4 808.82 1417.5 794.19 1417.5 810C1417.5 828.74 1374.68 826.18 1350 859.09C1273.43 961.18 1303.73 1007.4 1215 1080C1168.73 1117.86 1147.5 1080 1080 1080C945 1080 945 1080 810 1080C675 1080 675 1080 540 1080C405 1080 405 1080 270 1080C135 1080 85.08 1129.92 0 1080C-49.92 1050.72 -33.92 983.97 0 921.6C39.5 848.97 146.84 878.6 146.84 810C146.84 709.69 63.17 699.93 0 583.78C-10.25 564.93 0 561.89 0 540C0 516.86 -9.17 514.57 0 493.71C50.15 379.57 43.29 369.11 118.64 270' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1080 73.64C1069.76 73.64 1060.24 29.24 1060.24 0C1060.24 -7.58 1070.12 0 1080 0C1090.66 0 1101.32 -8.01 1101.32 0C1101.32 28.81 1090.3 73.64 1080 73.64' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1535 270C1535 172.97 1575.88 164.95 1620 61.36C1633.38 29.95 1620.09 6.8 1650 0C1755.09 -23.88 1770 0 1890 0C1963.97 0 2037.95 -33.18 2037.95 0C2037.95 49.89 1972.97 93.57 1890 166.15C1818.64 228.57 1729.29 218.07 1729.29 270C1729.29 321.92 1806.3 373.85 1890 373.85C1995.53 373.85 2002 326.94 2107.74 270C2137 254.24 2143.89 228.46 2160 228.46C2170.02 228.46 2160 249.23 2160 270C2160 327.86 2169.42 329.2 2160 385.71C2146.92 464.2 2141.76 464.3 2115 540C2066.76 676.45 2086.49 696.18 2010 810C1973.99 863.58 1950.77 874.8 1890 874.8C1823.27 874.8 1782.1 869.64 1755 810C1706.04 702.24 1775.85 664.96 1737.89 540C1708.35 442.77 1683.1 449.59 1620 365.62C1581.65 314.59 1535 325.1 1535 270' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M540 623.38C432.79 677.98 366.16 716.04 366.16 810C366.16 905.49 431.52 949.48 540 1002.27C653.44 1057.48 708.71 1076.49 810 1026C901.57 980.35 925.71 918.54 925.71 810C925.71 697.52 902.96 628.93 810 583.95C710.11 535.62 654.71 564.96 540 623.38' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M220.91 270C233.79 240.91 242.41 227.37 270 227.37C313.24 227.37 334.09 230.43 362.57 270C446.59 386.75 515.56 415.05 495 540C471.13 685.05 292.45 666.81 273.7 810C257.1 936.81 425.52 989.94 424.29 1080C423.67 1124.94 347.14 1080 270 1080C135 1080 107.71 1107.29 0 1080C-27.29 1073.09 -22.59 1034.59 0 1011.6C110.04 899.59 230.72 933.82 265.26 810C296.49 698.02 142.95 678.89 131.54 540C120.77 408.89 164.56 397.23 220.91 270' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1890 62.31C1848.72 62.31 1800 17.1 1800 0C1800 -14.06 1845 0 1890 0C1917.74 0 1945.48 -12.44 1945.48 0C1945.48 18.71 1921.46 62.31 1890 62.31' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1832.96 540C1832.96 503.57 1858.46 477.69 1890 477.69C1929.17 477.69 1974.38 500.15 1974.38 540C1974.38 603.62 1926.67 684.64 1890 684.64C1855.96 684.64 1832.96 607.05 1832.96 540' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1006.07 810C1006.07 753.09 1034.74 706.5 1080 706.5C1142.28 706.5 1221.14 746.15 1221.14 810C1221.14 901.4 1137.28 1017 1080 1017C1029.75 1017 1006.07 908.34 1006.07 810' stroke='rgba(215%2c 154%2c 97%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.container {
    max-width: 90vw;
    margin: auto;
    text-align: center;
}

.h1 {
    font-size: 150px;
    color: #d79a61;
    margin-bottom: 10px
}

.h3 {
    margin-top: -10px;
    font-size: 40px;
    color: #6d6d6d;
}

.main-btn {
    background-color: #d79a61;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 13px;
}

.main-btn:hover {
    background-color: #c27c3a;
    color: white;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #d79a61;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #d79a61 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  